__pycache__
.env
.git
.github
.invenio.private
.tool-versions
.venv/
*.pyc
*.pyo
**/readme.md
app_data/communities.yaml
app_data/test_users.json
celerybeat-schedule.db
courses.json
employee_data.json
example.env
mise.toml
notes/
npm-debug.log
secret.json
site/tests/
student_data.json
tests/
