[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"
flask-debugtoolbar = "==0.14.1"

[packages]
# name below should match what's in /site/setup.cfg
cca = {editable = true, path="./site"}
greenlet = "==3.0.3"
invenio-app-rdm = {version = "==11.0.6", extras = ["opensearch2", "postgresql"]}
invenio-cli = "==1.2.0"
python-dotenv = "==1.0.1"
uwsgi = "==2.0.25.1"
uwsgi-tools = "==1.1.1"
uwsgitop = "==0.12"

[pipenv]
allow_prereleases = false

[requires]
python_version = "3.9"

[scripts]
instancepath = "bash -c 'echo $(pipenv --venv 2>/dev/null)/var/instance'"
