[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"
flask-debugtoolbar = "==0.15.1"

[packages]
# name below should match what's in /site/setup.cfg
cca = {editable = true, path="./site"}
invenio-app-rdm = {extras = ["opensearch2"], version = "==12.0.5"}
python-dotenv = "==1.0.1"
requests = "==2.31.0" # 2.32+ breaks docker-py & `invenio-cli services` commands
uwsgi = "==2.0.26"
uwsgi-tools = "==1.1.1"
uwsgitop = "==0.12"

[pipenv]
allow_prereleases = false

[requires]
python_version = "3.12" # must match .tool-versions!

[scripts]
instancepath = "bash -c 'echo $(pipenv --venv 2>/dev/null)/var/instance'"
